*{
    vertical-align: baseline;
    font-weight: inherit;
    font-family: arial;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 1px solid black;
    padding: 0;
    margin: 0 auto;
}

#wrapper{
    width: 960px;
}

#header img{
    width: 100px;
    position: absolute;
}
#header h1{
    display: inline-block;
    vertical-align: top;
    font-size: 43px;
    color: #474747;
    margin: 23px 0px 8px 100px;
}
    #header h1 span{
        color: #21659e;
    }
#sub_header{
    width: 935x;
    padding: 10px 19px;
    background: -webkit-linear-gradient(#2868a0, #5082ac, #2868a0);
    background: -o-linear-gradient(#2868a0, #5082ac, #2868a0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2868a0, #5082ac, #2868a0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2868a0, #5082ac, #2868a0); /* Standard syntax */
    
}
    #sub_header h2{
        font-size: 30px;
        color: white;
    }
#side_bar{
    width: 210px;
    display: inline-block;
    vertical-align: top;
}
    #side_bar h3{
        font-size: 16px;
        font-weight: bold;
    }
        #side_bar h3 span{
            color: #da2923;
        }
    #side_bar p{
        font-size: 14px;
        font-weight: bold;
    }
        #side_bar p span{
            color: #21659e;
        }
    #side_bar button{
        width: 200px;
        height: 35px;
        margin-left: 4px;
        font-size: 16px;
        color: white;
    }
    .button1{
        background: -webkit-linear-gradient(#6096c2, #2668a0);
        background: -o-linear-gradient(#6096c2, #2668a0); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#6096c2, #2668a0); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#6096c2, #2668a0); /* Standard syntax */   
    }
    .button2{
        background: -webkit-linear-gradient(#eaab54, #f07500);
        background: -o-linear-gradient(#eaab54, #f07500); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#eaab54, #f07500); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#eaab54, #f07500); /* Standard syntax */   
    }
    .imgbackground{
        width: 205px;
    }
    .imgninja{
        width: 75px;
    }
    #sub_sidebar button{
        width: 190px;
        background-color: lightblue;
    }


#main_content{
    width: 745px;
    display: inline-block;
}